/*
**.rf-tab-hdr-tabline-vis.rf-tab-hdr-tabline-top {
	background: url(../org.richfaces.images/tabLineBg.png) repeat-x scroll center top;
*/

html {
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    font: normal 11px Arial, sans-serif, "Lucida Sans Unicode", "Lucida Grande", Geneva, Verdana ;
    height: 100%;
    background-color: #FAFAFF;

}

fieldset {
    margin: 0;
}

legend {
	-webkit-padding-start: 0px;
}
ul.layout {
    list-style: none;
}

a {
    outline: none;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    margin: 0;
    line-height: 1.4em;
}

td {
 	font-size:12px;
    margin:0 0 0 0;
    border:none;
}

tr {
    margin:0 0 0 0;
    border:none;
}

/*david: cambié el ultimo margin de -4 a 0px ...*/
table {
	width:100%;
	margin:0px 0px 0px 0px;
	border:none;
	border-spacing:0px;
}
/*width richfaces calendar to avoid inherit table general settings*/
.rf-cal-extr  {
	width:auto;
}

#page {
    margin: 0 auto;

}

#header {
    background: url('#{facesContext.externalContext.requestContextPath}/images/fondo_cabezal_l.gif') no-repeat  0px 50px white;    
    height: 52px;
}

#header .logo {
    float: left;
    margin-top: 5px;
    margin-left: 20%;
	padding-left:5px;
    text-decoration: none;
}

#header .logo img {
	
    border: none;
}

#header .right-controls {
    float: right;
}

#header ul.top-links {
    margin: 5px 15px 0 0;
    text-align: right;
}

#header ul.top-links li {
    display: inline;
    font-size: 11px;
}

#header ul.top-links li a {
    background: url('#{facesContext.externalContext.requestContextPath}/images/sep.gif') center right no-repeat;
#    color: #fff;
    padding: 0 8px 0 3px;
    font: 11px "Lucida Sans Unicode", "Lucida Grande", Geneva, Verdana, Arial, sans-serif;
}

#header ul.top-links li.last a {
    background: none;
    padding: 0 0 0 3px;
}

#header ul.top-links li.download-link a {
    color: #eccb7b;
}

#header ul#skin-menu {
    color: #89a0be;
    cursor: default;
    font-weight: bold;
    margin: 38px 15px 0 0;
    text-align: right;
}

#header ul#skin-menu li {
    cursor: pointer;
    display: inline-block;
    float: right;
    height: 25px;
    margin-left: 4px;
    padding-left: 5px;
}

#header ul#skin-menu li a {
    color: #89A0BE;
}

#header ul#skin-menu li span {
    height: 25px;
    font: bold 12px "Lucida Sans Unicode", "Lucida Grande", Geneva, Verdana, Arial, sans-serif;
    padding: 3px 5px 0 0;
    display: inline-block;
}

#header ul#skin-menu li span:hover {
    text-decoration: underline;
}

#header ul#skin-menu li.label span {
    color: #999999;
    cursor: default;
    font-weight: normal;
}

#header ul#skin-menu li.current-skin {
    background: url('#{facesContext.externalContext.requestContextPath}/images/select-skin-button.png') left -75px no-repeat;
}

#header ul#skin-menu li.current-skin span {
    background: url('#{facesContext.externalContext.requestContextPath}/images/select-skin-button.png') right 0 repeat-x;
    color: #fff;
}

#header ul#skin-menu li.label span:hover,#header ul#skin-menu li.current-skin span:hover {
    text-decoration: none;
}

#page-content {

    height: 100%;
    min-height: 520px;
    padding: 15px 15px 5px;
    
}

#page-content .left-menu {
	
    float: left;
    min-height: 520px;
    width: 18%;
}

#page-content .content-container {
    float: right;
    width: 80%;
}

#page-content .content-container fieldset.element-cnt {
    background: #ffffff;
    border: 1px solid #dddddd;
    border-top: 0;
    margin: 0;
    min-height: 470px;
    padding: 15px 20px 10px;
}

.clear {
    clear: both;
    height: 0%;
}

#footer {
    color: #000000;
    text-align: center;
    padding: 15px 20px 10px;
}

.source,div.rf-log {
    width: 650px;
}

a.show,a.hide {
    font: bold 12px "Lucida Sans Unicode", "Lucida Grande", Geneva, Verdana, Arial, sans-serif;
    color: #5F9CD0;
    display: block;
}

/*--- RichFaces panelMenu styles overwriting ---*/
.left-menu .rf-pm {
    border-bottom:0px;
}

.left-menu .rf-pm .rf-pm-top-gr {
    border:0px;
    border-bottom: 1px solid #969b9e;
    margin:0px;
    padding:0px;
}

.left-menu .rf-pm .rf-pm-top-gr-hdr {
    background: #c6cacc ;
    padding: 3px 1px 2px 3px;
}

.left-menu .rf-pm .rf-pm-top-gr-hdr:hover {
    background: #c6cacc ;
}

.left-menu .rf-pm .rf-pm-top-gr-ico {
    display:none;
}

.left-menu .rf-pm .rf-pm-top-gr-lbl {
    color: #273945;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Geneva, Verdana, Arial, sans-serif;
}

.left-menu .rf-pm .rf-pm-top-gr-lbl:hover {
    color:#5a8eba;
}

.left-menu .rf-pm-exp {
    background:#ffffff;
}

.left-menu .rf-pm-exp .rf-pm-itm {
    border:0;
    border-bottom: 1px solid #dddddd;
}

.left-menu .rf-pm-exp .rf-pm-itm:hover {
    background:none;
}

.left-menu .rf-pm-exp .rf-pm-itm-lbl:hover {
    color:#5f9cd0;
}

.left-menu .rf-pm-exp .rf-pm-itm-sel,.left-menu .rf-pm-exp .rf-pm-itm-sel:hover { /*background:#e3e8ef;*/
    
}

.left-menu .rf-pm-exp .rf-pm-itm-lbl {
    color: #305f7b;
    font: normal 11px "Lucida Sans Unicode", "Lucida Grande", Geneva, Verdana, Arial, sans-serif;
}

.left-menu .rf-pm-exp .rf-pm-itm-sel .rf-pm-itm-lbl {
    color: #5f9cd0;
    font-weight: bold;
}

.left-menu .rf-pm-exp .rf-pm-itm-ico {
    padding: 0 !important;
    width: 5px;
}
/* botones del navegador (adelante y atrás ...)*/
/* ojo que esto es posicional o "en cascada" por lo tanto lo que está mas abajo es lo ultimo que se procesa*/
/* y por lo tanto es lo que "vale" */ 
.rf-ds-btn {
	border:transparent;
	background-color:transparent;
	background-image:none;
}
.rf-ds-btn:hover {
	border-color:silver;
	border-width:1px;
	border-style:solid;
	background-color:white;
	color:black;

}
/* botones disabled */
.rf-ds-dis:hover {
	border-color:none;
	border-width:1px;
	border-style:none;
	background-color:transparent;
	color:silver;
	
}

/* botones del scroller bar (navegador de listas)*/
.rf-ds {
	background:none;
}
/* todos los botones... */
.rf-ds-nmb-btn {
	background-color:transparent;
	background-image:none;
	border-color:transparent;
}
/*  botón seleccionado */  
.rf-ds-act {
	background:none;
	border-color:silver;
	border-width:1px;
	border-style:solid;
	
}

.rf-ds-press {
	background-color:white;	
}
.rf-ds-act:hover {
	background:none;
	background-color:white;
}


.main_title {
	position: absolute;
	margin-top:27px;
	margin-left:3%;
	font-family:arial;
	font-size:12px;
	font-weight:bold;
	color: #004b96;
}

.main_output {
	margin-left:14%;
}

.top_navbar_slim{
	
	position: absolute;
	margin-top:25px;
    right:1%;
    width:auto;
    font-family:arial;
	font-size:12px;
}

.top_navbar_slim td {
	padding: 0px 10px 0px 10px;
}

.top_navbar_slim td a {
	color: #004b96;
	text-decoration: none;
}

.top_navbar_slim td a:hover {
	color: #004b96;
	text-decoration: underline;
}
.top_navbar_slim td.top_navbar_slim_without_pipe {

	color: #004B96;
	text-decoration: none;
}
/*--- RichFaces tabPanel styles overwriting ---*/
.navigation .rf-tab-hdr-tabline-vis {
    background: #FAFAFF;
    border: 0;
    height: 31px;
    padding: 0;
}

.navigation .rf-tab-hdr {
    border: 1px solid #dddddd;
    padding: 6px 10px 0;
    margin-right: 3px;
}

.navigation .rf-tab-hdr-act {
    background: #ffffff;
    border-bottom: 0;
    color: #5F9CD0;
}

.navigation .rf-tab-hdr-act .rf-tab-lbl {
    font-weight: bold;
}

.navigation .rf-tab-hdr-inact {
    background: #c6cacc url(../images/pmenu_bg.png) left top repeat-x;
    border: 1px solid #bec3c7;
}

.navigation .rf-tab-hdr-spcr {
    border-bottom: 1px solid #dddddd;
    padding: 0 3px 0 0;
}

.navigation .rf-tab-lbl {
    font: normal 12px "Lucida Sans Unicode", "Lucida Grande", Geneva, Verdana, Arial, sans-serif;
}


textarea[disabled],input[type="text"][disabled],input[type="password"][disabled],select[disabled] {
    -webkit-text-fill-color: #B6AD84;
}

.form_title {
	padding: 15 10 15;
}

.form_title_paddings {
	padding: 0 0 15;
}

.form_subtitle {
	padding: 0 0 15;
	font-size: 12px;
}
.section_title {
	font-family: arial;
	font-size: 14px;
	font-weight:bold;
	padding: 0 0 10;
}

.main_title_style {
	font-size: 16px;
	font-weight: bold;
	padding-top:10px;
	padding-bottom:10px;
}

.title_style {
	font-size: 14px;
	font-weight: bold;
}

.title_style_normal {
	font-size: 14px;
}

.label_form {
	font-size:12px;

}
.label_form_bold {
	font-size:12px;
	font-weight:bold;

}
.label_for_input_text {
	font-size:12px;
	height: 24px;

}
.left_column_10 {
	width:10%;float:left;
}
.left_column_15 {
	width:15%;float:left;
}
.left_column_20 {
	width:20%;float:left;
}
.left_column_25 {
	width:25%;float:left;
}
.left_column_30 {
	width:30%;float:left;
}
.left_column_40 {
	width:40%;float:left;
}
.left_column_50 {
	width:50%;float:left;
}
.left_column_60 {
	width:60%;float:left;
}
.left_column_65 {
	width:65%;float:left;
}
.left_column_70 {
	width:70%;float:left;
}
.center_column_30 {
	width:30%;float:right;
}
.center_column_40 {
	width:40%;float:right;
}
.center_column_50 {
	width:50%;float:right;
}
.center_column_60 {
	width:60%;float:right;
}
.center_column_70 {
	width:70%;float:right;
}
.center_column_80 {
	width:80%;float:right;
}

.margin_left_5px {
	margin-left: 5px;
}
.data_form {
	font-family: arial;
	font-size: 13px;
}

.data_form_bold {
	font-family: arial;
	font-size: 13px;
	font-weight:bold;
}

.command_link_data_form {
	font-family: arial;
	font-size: 13px;
	text-decoration:none;
	color:black;
}

.command_link_data_form_bold {
	text-decoration:none;
	color:black;
	font-family: arial;
	font-size: 13px;
	font-weight:bold;
}

.grid_form {
	font-family: arial;
	font-size: 11px;
}

.grid_form_bold {
	font-family: arial;
	font-size: 11px;
	font-weight:bold;
}

.numeric_data_form {
	float:right;
	font-family: arial;
	font-size: 13px;
}

.numeric_data_form_bold {
	float:right;
	font-family: arial;
	font-size: 13px;
	font-weight:bold;
}

.neutral_data_form {
	float:none;
	font-family: arial;
	font-size: 13px;
}



.float_left {
	float:left;
}
.float_right {
	float:right;
}

.fieldset_legend {
	font-weight : bold; 
	margin : 0px 0px 0px 0px;
	padding-bottom:10px;
	font-family: arial;
	font-color: #ACBECE;
	font-size: 14px;
}

.main_fieldset {

	padding : 10px 10px 10px;
	border-top : none; 
	border-left:none;
	border-right:none;
	border-bottom:none;
}

.fieldset_block_info {
	border-width: 1px;
	margin-bottom:15px;
}

.fieldset_block_info_wo_line {
	border:none;
	width:100%;
	padding-bottom:10px; /* 0 para contrarrestar el padding que tiene el skin de richfaces */
					  /* 10 de margen inferior para dejar separaciones verticales entre elementos ... */
					 
}

.fieldset_nopadding_block_info_wo_line {
	border:none;
	width:100%;
	padding:0px;
					 
}

/* cambio nombre a form_button_panel para que sepamos que es un panel de botones a colocar dentro de 1 form */
.form_button_panel {
	border:none;
	margin: 0 0 15px 0px;
}

.fieldset_proportional_block_info_wo_line {
	border:none;
	padding:10 0 10 0; /* 0 para contrarrestar el padding que tiene el skin de richfaces */
					  /* 10 de margen inferior para dejar separaciones verticales entre elementos ... */
}

.thin_line_fieldset {
	margin-top : 10px;
	border-top : 1px solid #ACBECE;
	border-left:none;
	border-right:none;
	border-bottom:none;
}

.selectOneMenu_search_w_margin {
	width:120px; 
	font-size:13px;
	padding: 4px; 
	margin-left:10px;
}

.selectOneMenu_search {
	width:120px; 
	font-size:13px;
	padding: 4px; 
	
}

.checkbox_style {
	height: 22px;
}

.input_text {
	font-size:13px;	
	padding: 4px; 
	font-weight:bold;
}

.input_text_search_panel_w_margin {
	width:200px; 
	font-size:13px;	
	padding: 4px; 
	font-weight:bold;
	margin-left:10px;
}
.input_text_search_panel {
	width:200px; 
	font-size:13px;	
	padding: 4px; 
	font-weight:bold;

}

.input_text_numeric_50 {
	width:50px; font-size:13px; padding:4px;float:left;text-align:right;
}


.input_text_50_style {
	width:50px; font-size:12px; padding:4px;
}

.input_text_100_style {
	width:100px; font-size:12px; padding:4px;
}

.input_text_150_style {
	width:150px; font-size:12px; padding:4px;
}

.login_input_text_style {
	width:150px; font-size:13px; padding:4px;
}

.input_text_250_style {
	width:250px; font-size:13px; padding:4px;
}

.input_text_300_style {
	width:300px; font-size:13px; padding:4px;
}

.input_text_300_style_bold {
	width:300px; font-size:13px; padding:4px; font-weight:bold;
}

.input_text_350_style_bold {
	width:350px; font-size:13px; padding:4px; font-weight:bold;
}

.select_one_100_style {
	width:100px; font-size:11px; padding:3px;
}

.select_one_150_style {
	width:150px; font-size:11px; padding:3px;
}

.select_one_200_style {
	width:200px; font-size:11px; padding:3px;
}

.select_one_250_style {
	width:250px; font-size:11px;padding: 3px;
}

.select_one_300_style {
	width:300px; font-size:11px;padding: 3px;
}

.select_one_350_style {
	width:350px; font-size:11px;padding: 3px;
}

.table_aver {
	width:100%;
	border:none;
	margin-left:-2px;
	margin-right:5px;
	padding-bottom:15px;
}

.table_default {
	width:100%;
	border-spacing: 0px;
	padding-bottom:10px;
}

.table_edit_form {
	width:100%;
	border-spacing: 0px;
	padding-bottom:10px;
	line-height:1.4em;
}

.table_group_title {
	padding-top:10px;
	padding-bottom:5px;
}


/* corrige el desplazamiento a la derecha que produce la tabla por el problema del border default
   que no logré corregir ni siquiera metiendo border:none en el elemento tabla al ppio de este css ... (nes)*/
.table_border_correction {
	margin-left:-2px;
}

.grid_title_11px {
	font-size:11px;
}

.column03percent {
	width: 3%;
}

.column05percent {
	width: 5%;
}

.column10percent {
	width: 10%;
}

.column12percent {
	width: 12%;
}

.column15percent {
	width: 15%;
}

.column20percent {
	width: 20%;
}

.column25percent {
	width: 25%;
}

.column30percent {
	width: 30%;
}

.column40percent {
	width: 40%;
}

.column45percent {
	width: 45%;
}

.column50percent {
	width: 50%;
}

.column55percent {
	width: 55%;
}

.column60percent {
	width: 60%;
}

.column65percent {
	width: 65%;
}

.column70percent {
	width: 70%;
}

.column75percent {
	width: 75%;
}

.column80percent {
	width: 80%;
}

.column85percent {
	width: 85%;
}

.column90percent {
	width: 90%;
}

.column95percent {
	width: 95%;
}

.column15percentVerticalAlignTop {
	vertical-align: top;
	width: 15%;
	margin: 0px;
	margin-left: 15px;
	padding-left: 20px;
}

.column20percentVerticalAlignTop {
	vertical-align: top;
	width: 20%;
	margin: 0px;
	margin-left: 5px;
	padding-left: 5px;
}
.column40percentVerticalAlignTop {
	vertical-align: top;
	width: 40%;
	margin: 0px;
	margin-left: 5px;
	padding-left: 5px;
}

.column50percentVerticalAlignTop {
	vertical-align: top;
	width: 50%;
}

.column80percentVerticalAlignTop {
	vertical-align: top;
	width: 80%;
	padding-left:15px;
}

.centerCol {
	text-align: center;
}

.colStyle10px {
	width: 10px;
}

.colStyle50px {
	width: 50px;
}

.colStyle70px {
	width: 70px;
}

.colStyle100px {
	width: 100px;
	margin: 0px;
}

.colStyle140px {
	width: 140px;
	margin: 0px;
}

.colStyle160px {
	width: 140px;
	margin: 0px;
}

.colStyle200px {
	width: 200px;
	margin: 0px;
}

.colStyle250px {
	width: 250px;
	margin: 0px;
}

.colStyle300px {
	width: 300px;
	margin: 0px;
}

.colStyle400px {
	width: 400px;
	margin: 0px;
}

.colStyle480px {
	width: 480px;
	margin: 0px;
}

.colStyle520px {
	width: 520px;
	margin: 0px;
}

.colStyle600px {
	width: 600px;
	margin: 0px;
}

.colStyle620px {
	width: 620px;
	margin: 0px;
}

.colStyle900px {
	width: 900px;
	margin: 0px;
}

.comandoAlineadoIzquierda {
	width: 200px;
	text-align: left;
}

.comandoAlineadoCentrado {
	width: 200px;
	text-align: center;
}

.comandoAlineadoDerecha {
	width: 200px;
	text-align: right;
}

.mensajeStyleClass {
	text-align: left;
	margin-left: 10px;
}

/*
*
* CALENDAR INPUT COMMON STYLE
*
*/
.rf-cal-inp {
	width: 115px;
	font-size: 13px !important;
	padding: 4px;
}

/*
*
* FILTER COMMON STYLE
*
*/
.viewFilters {
	text-align: center;
	padding-left: 0px;
	font-size: 12px;
	cursor: pointer;
	color: #7795AF;
	text-decoration: underline
}

/*
*
* MESSAGE STYLE CLASS
*
*/
.normalMessageStyle {
	font-weight: bold;
}

.normalHighlightMessageStyle {
	font-weight: bold;
	background-color: #FAFFBD;
	border-width: 1px;
	border-style: solid;
	border-color: #FAF0BD;
}

.errorMessageStyle {
	font-weight: bold;
	color: red;
}

.inputTextInvisible {
	border: none;
	background: none;
}

.grid_box {
	padding-bottom: 15px;
}

.command_link_form {
	font-size: 12px;
	text-decoration: none;
	font-family: Arial;

}

.command_link_form_bold {
	font-size: 12px;
	text-decoration: none;
	font-family: Arial;
	font-weight: bold;
	color:black;

}

.command_button_with_square_image {
	vertical-align: middle;
	padding-top: 4px;
	padding-bottom:4px;
}

.grid_command_link_form {
	font-size: 11px;
	text-decoration: none;
	font-family: Arial;
	vertical-align:middle
}

.grid_command_link_form_bold {
	font-size: 11px;
	text-decoration: none;
	font-family: Arial;
	font-weight: bold;
	vertical-align:middle
}

/*
*
* dml 20130206 NEW STYLES
*
*/

.ddm_available_actions{
	
	width:95px;
	border:1px solid #{a4jSkin.panelBorderColor};
	
}

.ddm_available_actions.rf-ddm-lbl{
	
	padding:5 5 5 5;
	
}

/*nota de nestor: vi q lo estamos usando para envolver el contenido en un popup por ejemplo
  Si fuera así, estaría bien que tenga el padding de forma que al envolver todo el conteniodo 
  del popup con esta clase ya nos deje todo en orden para colocar los elementos con el margen
  correcto, por eso pasé el padding aquí*/
.pg_default{
	
	width: 100%;
	padding : 10px 0px 10px 10px;

}

.pg_margin_bottom{
	
	width: 100%;
	margin-bottom: 10px;
	margin-left: 0px;
	
}

.popup_pg{
	
	width:100%;
	height:80%;

}

.popup_button_panel{
	border:none;
	text-align:left;
}

.popup_default{
	
/*	border:none;
	*/
	width: 95%;
	height:90%;
	
	margin-top: -10px;
	margin-bottom: 0px;
	margin-left: 14px;
	margin-right: 0px;

}

.popup_pg{
	
/*	border:none;
	*/
	width: 95%;
	height:90%;

}

.pg_welcome_page{
	
	width: 100%;
	margin-left:-3px;
	
}

.panel_display_none{
	
	display: none;
	
}

.search_button{
	
	width: 100px;
	
}

.middle_5_margin_left_style{
	
	vertical-align:middle;
	margin-left:5px;

}

.select_boolean_checkbox_margin_right{
	vertical-align:middle;
	margin-right:5px;
}

.vertical_align_middle{
	
	vertical-align:middle;
	
}

/* para que el botón quede de 150px de ancho (igual al inputText de 150 de ancho) le tengo que
   dar 10px mas si no queda mas pequeño */
.login_button_style {
	width:160px;
	height:21px;
}

.search_button_style {
	width:100px;
	height:21px;
}

.submit_button_style {
	width:120px;
	height:21px;
}

.submit_button_w_margin_style {
	width:120px;
	height:21px;
	margin-left:10px;
}

.cancel_button_style {
	width:80px;
	height:21px;
}

.return_command_link_style{
	margin-top:-25px; 
	float:right;
}

.plus_minus_style{
	margin-left:5px;
	font-size:20px;
	padding: 3px;
	font-weight:bold;
	text-decoration:none;
	vertical-align:middle;
}

.input_form_list_popup{
	list-style-type: none;
	margin: 0 0 5 0;
	padding: 0 0 10px;
	-webkit-padding-start: 0px
}

.input_form_list {
	list-style-type: none;
	margin: 0 0 10px 0px;
}
.input_form_list li{
	line-height: 25px;
}


/* dml 20130305 - los padding y los margin si se ponen seguidos poner los "px" y el orden es: arriba derecha abajo izquierda*/

/* lista simple de pares label/valor*/
.popup_single_list {
	line-height:1.5;
}

.popup_input_form_list {
	list-style-type: none;
	padding : 10px 10px 10px 10px;
}

.popup_button {
	list-style-type: none;
	font-size: 12px;
	width:120px;
	height:21px;
}

.popup_text_area {
	width:100%; 
	height:100px; 
	font-size:13px;
	padding: 4px;	
}
.li_button {
	list-style-type: none;
	margin : 0 0 0 40px;
	font-size: 12px;
	width:120px;
	height:21px;
}

.input_form_button {
	margin-top: 15px;
}
.input_form_checkbox {
	margin-top:6px;
}
.input_form_list_label {
	font-size:12px;	
	line-height: 24px;
}
.input_form_list_label_bold {
	font-size:12px;	
	line-height: 24px;
	font-weight:bold;
}
.independent_li {
	list-style-type: none;
	margin : 0 0 0 40px;
	font-size: 12px;
}

.panel_scroll {
	height: 120px;
	overflow: auto;
}
.last_line {
	margin-bottom: 15px;
}

.info { min-height: 80px; }

/* ejemplo de division del frame principal en dos trozos de igual tamaño
   agregado css de ejemplo para la wellcome - ver luego de ajustar a nuestra nomenclatura */
#main-wrap {
    /* overflow to handle inner floating block */
    overflow: hidden;
}

#content-wrap {
    width: 100%;
}

#info-wrap {
    /* overflow to handle inner floating block */
    overflow: hidden;
}

.info {
    width: 50%;
    float: left;
    line-height:1.5;
}
